* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::selection {
  color: #ffff;
  background: #1394c9;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #1394c9;
}

 body {
   display: flex;
   flex-direction: column;
 }

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1394c9;
  overflow: hidden;
  min-height: 8vh;
  color: white;
}

.nav_header {
  color: white;
  transition: 0.2s;
  font-size: 25px;
  text-decoration: none;
}

.nav_header:hover {
  padding: 10px;
  background-color: white;
  color: #1394c9;
  transition: 0.2s;
}

.startup-div h1 {
  margin-bottom: 30px;
  text-align: center;
}

.startup-div {
  width: 25%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
  font-weight: 700;
  display: none;
  flex-direction: column;
  align-items: center;
}

.startup-div input,
.panel input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.startup-div input:focus,
.panel input:focus {
  border: 1px solid #777;
}

.startup-div button,
.panel button {
  background: #1394c9;
  color: #fff;
  border: 1px solid #1394c9;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  margin-top: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.startup-div button:hover,
.panel button:hover {
  background: white;
  color: #1394c9;
  border: 1px solid #1394c9;
  cursor: pointer;
}

.startup-div .linkBtn {
  background: white;
  color: #1394c9;
  border: 0px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.startup-div .linkBtn:hover {
  color: #1cbfff;
  border: 0px;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #1394c9;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-top: 20px;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dashboard-div {
  position: absolute;
  display: none;
  width: 100%;
  height: 92%;
  margin-top: 8vh;
}

.sideNav {
  height: 100%;
  width: 20%;
  z-index: 1;
  background-color: #1394c9;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideNav button {
  all: unset;
  color: white;
  padding: 2rem;
  text-align: center;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
}

.sideNav button:hover {
  background-color: white;
  color: #1394c9;
}

.panel {
  width: 90%;
  padding: 40px;
  display: block;
}

.panel p {
  margin-top: 10px;
}

.panel input {
  margin: 20px 0px;
  width: 80%;
}

.panel button {
  width: 20%;
  height: 100%;
  margin-left: 20px;
}

.changeNameOption {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 500px;
}

.panel .changePasswordInput {
  width: 100%;
}

.panel .changeName {
  margin: 0px;
  width: 100%;
}

.panel .deleteBtn {
  background: red;
  border: 1px solid red;
  margin-left: 0px;
  width: 530px;
}

.panel .deleteBtn:hover {
  background: white;
  color: red;
  border: 1px solid red;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  margin: 40px;
}

.card {
  width: 20%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card-header {
  text-align: center;
  padding: 50px 10px;
  background: #1394c9;
  color: #fff;
}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}

.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: #1394c9;
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
  cursor: pointer;
}

.card-body .btnDelete {
  display: block;
  color: #fff;
  text-align: center;
  background: red;
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.graph {
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .card {
    width: 80%;
  }
}

